<header class="fiexd">
  <div class="slds">
    <div class="slds-page-header slds-text-heading--medium application-header">
      <h1>Ruby on Rails Application</h1>
    </div>
    <div class="slds-page-header slds-text-heading--medium page-title slds-clearfix">
      <div class="slds-media slds-tile slds-float--left">
        <div class="slds-media__figure">
          <svg aria-hidden="true" class="slds-icon slds-icon-standard-today slds-icon--medium">
            <use xlink:href="<%= asset_path 'SLDS091/assets/icons/custom-sprite/svg/symbols.svg#custom25' %>"></use>
          </svg>
        </div>
        <div class="slds-media__body">
          <h2>Week Events</h2>
        </div>
      </div>
      <div class="slds-float--right">
        <button class="slds-button slds-button--inverse header-button" onclick="HeaderPages.openNewEventModal();">New Event</button>
      </div>
    </div>
  </div>
</header>
<!-- Modal -->
<div id="new-event-modal" class="slds-hide">
  <div aria-hidden="false" role="dialog" class="slds-modal slds-modal--large slds-fade-in-open">
    <div class="slds-modal__container slds-modal--large">
      <div class="slds-modal__header">
        <h2 class="slds-text-heading--medium">New Event</h2>
        <button class="slds-button slds-modal__close" onclick="HeaderPages.closeNewEventModal();">
          <svg aria-hidden="true" class="slds-button__icon slds-button__icon--inverse slds-button__icon--large">
            <use xlink:href="<%= asset_path 'SLDS091/assets/icons/action-sprite/svg/symbols.svg#close' %>"></use>
          </svg>
          <span class="slds-assistive-text">Close</span>
        </button>
      </div>
      <div class="slds-modal__content">
        <div class="slds-lookup" data-select="multi" data-scope="single" data-typeahead="true">
          <div class="slds-form-element slds-m-bottom--small">
            <label class="slds-form-element__label">Subject</label>
            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right">
              <input type="text" class="slds-input" id="header-subject"></input>
            </div>
            <label class="slds-form-element__label">Location</label>
            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right">
              <input type="text" class="slds-input" id="header-location"></input>
            </div>
            <label class="slds-form-element__label">Description</label>
            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right">
              <textarea class="slds-input" id="header-description"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="slds-modal__footer slds-modal__footer--directional">
        <button class="slds-button slds-button--neutral" onclick="HeaderPages.closeNewEventModal();">Cancel</button>
        <button class="slds-button slds-button--neutral" onclick="HeaderPages.saveEvent();">Save</button>
      </div>
    </div>
  </div>
  <div class="slds-modal-backdrop slds-modal-backdrop--open"></div>
</div>